body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #3c4d58;
  color: white;
  -webkit-user-select: none;

	font-size:14px;
	line-height: 1.6;
	font-family:"Trebuchet MS", verdana, arial, "Times New Roman", serif;
}
input[type=text]{
  border-radius: 5px;
  text-align: center;
}
/*button{
  border-radius: 0px;
  background: #2c3942;
}*/

.Menu_Holder, #Menu_Holder {
  width:250px;
  /*position: fixed;*/
  float: left;
  height: calc(100% - 31px);
  background: #2c3942;
  /*border-right: 1px solid black;*/
  margin-left: 0px;
  transition:0.3s;
  overflow-x: auto;
}

.Menu_Body_Separator, #Menu_Body_Separator {
  width:1px;
  /*position: fixed;*/
  float: left;
  height: calc(100% - 31px);
  background: black;
  cursor: col-resize;
}

.Body_Holder, #Body_Holder {
  width:calc(100% - 251px);
  float: left;
  height: calc(100% - 31px);
  /*margin-left: 201px;*/
  transition:0.3s;
  overflow-y: auto;
}

.Bottom_Menu_Holder, #Bottom_Menu_Holder{
  width: 100%;
  height: 30px;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #2c3942;
  border-top: 1px solid black;
  font-size: 20px;
}


.Clicable {
  cursor: pointer;
}
.Clicable:hover {
  background: #3c4d58;
}
